body {
  background: rgb(37, 37, 58);
}

.mainContainer{
    height: 100%;
    width: 100%;
}

.background{
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 65));
  color: white;
}

#topContent{
  
  position: relative;
    min-height: 500px;
    width: 100%;
}


nav img{
  width: 50px;
  height: 50px;
  filter:invert(100%);
  margin-top: 15px;
  margin-left: 15px;
}


.split{
  color: white;
  font-weight: bold;
  text-align: center;
  min-height: 400px;
}

.cards{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}


.photo{
  width: 300px;
  height: 300px;
  background-color: #9b9eaf;
  float: left;
  z-index: 99;
  margin-right: 25px;
  border-radius: 50%;
  border:white solid 8px;
}

.midContent{
  width: 72%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 125px;
  height: 270px;
  padding: 10px;
  
}

.bio{
  
  float: right;
  border: white solid 8px;
  margin-top: 75px;
  background-color: white;
  width: 65%;
}

.bio p{
  padding: 20px;
  border: #9b9eaf solid 4px;
  background-color: #f2f4fc
}

.card{
  margin-top: 70px;
  width: 250px;
  border: #9b9eaf solid 4px;
  float: left;
  margin-right: 15px;
  
}

.card-content{
  padding: 12px;
  font-size: 14px;
}

.card .card-action{
  padding-left: 0;
  padding-right: 0;
}

.slantedDiv {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 30px;
}
.slantedDiv:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: inherit;
  transform-origin: top left;
  transform: skewY(5deg);
  z-index: -1;
}

.slantedDiv2 {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 30px;
}
.slantedDiv2:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: inherit;
  transform-origin: top left;
  transform: skewY(-5deg);
  z-index: -1;
}

.trees{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid white;
  z-index: 10;
}

.right.hide-on-med-and-down{
  margin-right: 15px;
  font-size: 24px;
}

.snowMargin{
  margin-top: 60px;
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}

.stars{
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

.stars {
background: url(../images/stars.png) repeat top center;
z-index:0;
}








